expiretime: 1800
uploadPath: C:/uploadFile
server:
  port: 8080
  servlet:
    context-path: /claim
mybatis-plus:
  mapper-locations: classpath*:mapper/*Dao.xml
  type-aliases-package: com.claim.server.*.po
spring:
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 60MB
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/claim?useUnicode=true&characterEncoding=UTF-8&serverTimezone=GMT%2B8
  redis:
    database: 0
    host: 127.0.0.1
    port: 6379
    password: